.categories-menu-container {
  .ant-menu {
    border: none !important;
    border-radius: 0.25rem !important;

    .ant-menu-submenu {
      display: flex;

      .ant-menu-submenu-title {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: inherit;

        .ant-menu-item-icon {
          font-size: 1.5rem;
        }

        .ant-menu-title-content {
          font-size: 0.75rem;
          display: flex;
        align-items: center;
        }
      }

      .ant-menu-submenu-title:hover {
        color: white !important;
        background: #9DB2BF !important;
      }
    }

    .ant-menu-title-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .ant-menu-item:hover, .ant-menu-item-selected {
      color: white !important;
      background: #9DB2BF !important;
    }
  }
}

.MuiTooltip-tooltipPlacementRight {
  padding: 0 !important;
  margin-top: 0 !important;
}


